body {
  background-color: #f82828;
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1
{
    align-self: center;
    color: rgb(102, 166, 244);
}
p{
    color: rgb(102, 166, 244);

}
strong{
    color: green;
}

em{
    
    color: rgb(6, 254, 26);
}
